
.main-navigation .navbar-toggler {
	background-color: white;
	border: white;
	margin-top: 0;
}

.btn,
.main-navigation .navbar-toggler:focus,
.main-navigation .navbar-toggler:hover{
	background-color: white;
	border: white;
}


.block-recent-posts {

	background-color: white;

	&__container {
		margin: 1rem auto;

		&__block-title {
			margin: 1rem auto;
		}

		&__elements-list {

			.element {
				box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);

				padding: 1rem;
				margin: 1rem auto;

				display: flex;
				flex-direction: column;

				border-radius: 4px;

				&__title {
					margin: 0.5rem auto;
					text-align: center;
				}

				&__content {
					display: flex;
					flex-direction: column;
					align-items: center;

					&__thumbnail {
						width: 100%;
						margin-bottom:
							1rem

							img							{
							margin: 0 auto;
							border-radius: 4px;
						}
					}

					&__text {
						width: 100%;
					}
				}

				&__link {
					margin: 0.5rem auto;
					width: 100%;
					text-align: center;
				}
			}
		}

		&__pagination {
			margin: 0.5rem auto;
			width: 100%;
			text-align: center;
		}
	}

	@include media-breakpoint-up(md) {

		.element {
			margin: 2rem auto;

			&__content {
				flex-direction: row;

				&__thumbnail {
					width: 30%;
					margin-bottom: 0;
					margin-right: 1rem;
				}

				&__text {
					width: 70%;
				}
			}
		}
	}
}
